.activeNumber {
    font-weight: bold;
}

.pagesNavigation {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
}

.pagesNavigation span {
    padding: 3px;
    font-size: 14pt;
    cursor: pointer;
}