.userImage {
    width: 30px;
    border-radius: 30px;
}

.item {
    margin-bottom: 10px;
}

.link {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-decoration: none;
    color: black;
}

.active {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-decoration: none;
    color: #4da10f;
}

.name {
    margin-left: -35px;
    margin-top: 7px;
}