.header {
  grid-area: h;
  background-color: darkgreen;
}

.logo {
  width: 55px;
  padding: 3px;
}

.authBlock {
  float: right;
}

.authBlock a {
  color: white;
  padding-right: 10px;
  display: block;
}

.userPhotoSmall {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-top: 4px;
}