/* .app-wrapper {
    display: grid;
    grid-template-rows: 40px auto;
    grid-template-columns: 2fr 10fr;
    grid-template-areas: "h h""n c";
    width: 1200px;
    margin: 0 auto;
}

.app-wrapper-content {
    grid-area: c;
    background-color: #f3f3f3;
} */

html, body {
    padding: 0;
    margin: 0;
    background: #fff;
  }
  
  #root {
    padding: 24px;
  }